h1,
.h1 {
    font-size: 32px;
    letter-spacing: -0.021em;
    line-height: 42px;
    font-weight: 500;
    & + h1,
    .h1 {
        margin-top: 24px;
    }
}

h2,
.h2 {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.25px;
    font-weight: 500;
    & + h2,
    .h2 {
        margin-top: 24px;
    }
}

h3,
.h3 {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.2px;
    font-weight: 500;
    & + h3,
    .h3 {
        margin-top: 24px;
    }
}

h4,
.h4 {
    font-size: 18px;
    letter-spacing: -0.014em;
    line-height: 25px;
    font-weight: 500;
    & + h4,
    .h4 {
        margin-top: 24px;
    }
}

p,
.body {
    font-size: 16px;
    letter-spacing: -0.011em;
    line-height: 22px;
    margin-top: 16px;

    &.no-margin {
        margin-top: 0;
    }
}
