// Mono
$Mono-White: #ffffff;
$Mono-Black: #000000;

// Neutral
$N0: #f9f9f9;
$N5: #f1f1f1;
$N10: #e1e1e3;
$N20: #d2d2d6;
$N30: #b4b4bb;
$N40: #9696a0;
$N50: #757585;
$N60: #283243;
$N70: #494957;
$N80: #393944;
$N90: #292931;
$N100: #03070d;

// Blue
$B5: #f2f8ff;
$B10: #d6ebff;
$B20: #b2d7fc;
$B30: #75b4f6;
$B40: #4294ee;
$B50: #1671e0;
$B60: #0058cc;
$B70: #0041b3;
$B80: #00308f;
$B90: #00257a;
$B100: #00155c;

// Green
$G5: #f6fff2;
$G40: #88e063;

// Shadow
$shadow-B: 0px 0px 4px rgba(66, 148, 2380, 0.8), 0px 0px 8px rgba(66, 148, 238, 0.5);
$shadow-5: 0px 0px 4px 0px #9696a04d, 0px 0px 2px 0px #9696a080;
$shadow-10: 0px 2px 8px rgba(0, 0, 0, 0.05);
$shadow-15: 0px 8px 18px rgba($Mono-Black, 0.1);
