// Mono
$Mono-White: #ffffff;
$Mono-Black: #000000;

// Neutral
$N100: #18181d;
$N200: #0c1017;
$N300: #121b2b;
$N600: #283243;
$N100: #03070d;

// Blue
$B5: #f2f8ff;
$B10: #d6ebff;
$B20: #b2d7fc;
$B30: #75b4f6;
$B40: #4294ee;
$B50: #1671e0;
$B60: #0058cc;
$B70: #0041b3;
$B80: #00308f;
$B90: #00257a;
$B100: #00155c;

// Green
$G5: #f6fff2;
$G40: #88e063;

// Shadow
$shadow-B: 0px 0px 4px rgba(66, 148, 2380, 0.8), 0px 0px 8px rgba(66, 148, 238, 0.5);
$shadow-5: 0px 0px 4px 0px #9696a04d, 0px 0px 2px 0px #9696a080;
$shadow-10: 0px 2px 8px rgba(0, 0, 0, 0.05);
$shadow-15: 0px 8px 18px rgba($Mono-Black, 0.1);

%popup {
    background-color: rgba($N300, 0.9);
    border: 1px solid $N600;
    backdrop-filter: blur(2px);
    border-radius: 12px;
}
