.toolbar {
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    gap: 4px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
}
