@import "src/styles/style.scss";

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 24px;
    gap: 4px;
    height: 64px;
    background-color: $N300;
    color: $Mono-White;

    .right-content {
        display: flex;
    }
}
