@import "src/styles/style.scss";

.header {
    width: 100%;
    padding: 8px 24px;
    background-color: rgba($N100, 0.8);
    height: 60px;
    display: flex;
    justify-content: space-between;

    .left-content {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .right-content {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .nav-links {
        display: flex;
        align-items: center;
        gap: 16px;
    }
}
