@import "src/styles/style.scss";

.filter-sidebar {
    display: flex;
    position: absolute;
    flex-direction: column;
    z-index: 999;
    top: 8px;
    left: 8px;
    width: 240px;
    border-radius: 8px;
    @extend %sidebar;
    color: $Mono-White;

    .header-content {
        display: flex;
        padding: 8px 12px;
        border-bottom: 1px solid $N600;
    }

    .body-content {
        padding: 8px;
    }
}

.sidebar-item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 32px;
    padding: 6px 8px;
    gap: 8px;
    border-radius: 8px;

    &:hover {
        background-color: $N600;
        cursor: pointer;
    }

    input {
        height: 16px;
        width: 16px;
        background-color: $N300;
    }
}
