@import "src/styles/style.scss";

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    border-radius: 99px;
    font-size: 10px;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
    color: $N100;
    background: #a8ebca;

    &:hover {
        cursor: pointer;
    }
}
