@import "src/styles/style.scss";

.search-field {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    background-color: $N200;
    border: 1px solid $N600;
    gap: 8px;
    height: 44px;
    max-width: 320px;
    border-radius: 999px;

    input {
        background-color: transparent;
        border: 0;
        color: $Mono-White;
    }
}
